<h1>Listing card_piles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @card_piles.each do |card_pile| %>
      <tr>
        <td><%= card_pile.name %></td>
        <td><%= link_to 'Show', card_pile %></td>
        <td><%= link_to 'Edit', edit_card_pile_path(card_pile) %></td>
        <td><%= link_to 'Destroy', card_pile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Card pile', new_card_pile_path %>
