<p id="notice"><%= notice %></p>

<p>
  <strong>Game:</strong>
  <%= @event.game %>
</p>

<p>
  <strong>Event index:</strong>
  <%= @event.event_index %>
</p>

<p>
  <strong>Event:</strong>
  <%= @event.event %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
