<h1>Listing card_templates</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @card_templates.each do |card_template| %>
      <tr>
        <td><%= card_template.name %></td>
        <td><%= link_to 'Show', card_template %></td>
        <td><%= link_to 'Edit', edit_card_template_path(card_template) %></td>
        <td><%= link_to 'Destroy', card_template, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Card template', new_card_template_path %>
